<div class="g-row">
  <div class="g-col">
    <task-form create-task="tasks.actions.createTask(title)"></task-form>
  </div>

  <div class="g-col">
    <ul class="task-filters">
      <li><a ui-sref-active-eq="active" ui-sref="app.tasks({filter: ''})">View All</a></li>
      <li><a ui-sref-active="active" ui-sref="app.tasks({filter: 'active'})">Active</a></li>
      <li><a ui-sref-active="active" ui-sref="app.tasks({filter: 'completed'})">Completed</a></li>
    </ul>
  </div>

  <div class="g-col">
    <div class="task-list">
      <task-item
        model="task"
        delete-task="tasks.actions.deleteTask(task)"
        update-task="tasks.actions.updateTask(task)"
        ng-repeat="task in tasks.list | filterTasks:tasks.filterType track by $index"></task-item>
    </div>
  </div>
</div>
